*{
    margin: 0;
    padding: 0;
   
}
.card-body h2{
    margin-top: 10px;
    color: red;
}
.upload0 input{
    margin-top: 10px;
}
 .upload9 button{
   width: 90px;
   height: 5vh;
   
   margin-top: 50px;
   color:white;
   border-radius: 10px;
   /* background-color: red; */
   border: 0;
}
.upload6{
    text-align: center;
    border: 1px solid;
    border-radius:30px;
    height: 70vh;
    width: 350px;
    margin-top: 50px;
    margin-left: 40%;
}



