*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.card-body h2{
    margin-top: 10px;
}
.upload0 input{
    margin-top: 10px;
    margin-left: 25px;
 }

.upload1 input{
   margin-top: 10px;
   margin-left: 25px;
}
.upload2 input{
    margin-top: 10px;
    margin-left: 25px;
 }
 .upload3 input{
    margin-top: 10px;
    margin-left: 25px;
 }
 .upload4 input{
    margin-top: 10px;
    margin-left: 25px;
 }
 .upload9 button{
    margin-top: 20px;
    /* margin-left: 120px; */
 }


